{% extends 'appkraft/base.html' %}

{% block content %}

    <div class="header">
        <div class="container">
            <h1>Caixa</h1>
        </div>
    </div>

    <div class="container">
        <label for="perfil">Perfil</label>
        <br>
        <select id="perfil">
            <option value="">----</option>
            <option value="volvo">Local</option>
            <option value="saab">Anhanguera</option>
        </select>
        <br>
        <label for="lista">Lista</label>
        <br>
        <select id="lista">            
            <option value="">----</option>
            <option value="volvo">Saad</option>
            <option value="saab">Anhanguera</option>
        </select>

        <input id="myInput" type="text" placeholder="Search Produto..">
    </div>

    <div class="container">
        <button>Orçamento</button>
        <button>Finalizar</button>
    </div>

    <div class="container">
        <label for="total">Total</label>
        <br>
        <textarea name="total" id="total" cols="1" rows="1" width="100"></textarea>
    </div>

    <div class="container">
        <div class="radio">
            <label><input type="radio" name="optradio" checked>Dinheiro</label>
        </div>

        <div class="radio">
            <label><input type="radio" name="optradio">Card Crédito</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Card Débito</label>
        </div>
    </div>

    <div class="container"> 
            <!-- <input class="form-control" id="myInput" type="text" placeholder="Search Produto.."> -->
            <br>
            <table class="table table-bordered table-striped">
              <thead><!--cabeçalho-->
                <tr>
                  <th>Código</th>
                  <th>nome</th>
                  <th>Qtde</th>
                  <th>Valor</th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody id="myTable"><!--corpo_tabela-->
               
                <!-- {% for produto in produtos %} -->
                <tr><!--linha-->
                    <td>1</td><!--coluna-->
                    <td>Cubo Magico</td><!--coluna-->
                    <td>1</td><!--coluna-->
                    <td>50,00</td><!--coluna-->
                    <td>50,00</td><!--coluna-->
                </tr>
                    
                <!-- {% endfor %} -->
               
              </tbody>
            </table>
            
            
        </div>

{% endblock %}